
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/symfony/var/
/.idea/           # Tüm .idea klasörünü görmezden gelmek için bu satır önemli
/.phpstorm.meta.php
/.webstorm.meta.php
/.vscode/
/config/secrets/
/public/uploads/
